@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Cores */
:root {
    --topo: #000;
    --branco: #fff;
    --preto: #000;
    --cinza: #616161;
    --vermelho-escuro: #D70000;
}

html, body {
    overflow-x: hidden;
}
body {
    position: relative
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: var(--branco);
}

a {
    word-wrap: break-word;
}

a, a:hover {
    color: var(--preto);
    text-decoration: underline;
}

a:hover {
    font-weight: 600;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: var(--preto);
    opacity: 0.8;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

.titulo-pagina h1 img {
    margin-right: 20px;
    margin-top: -4px;
}

/* Header */
.topo {
    background: var(--topo);
    padding: 0 20px;
}

.busca {
    padding: 17px 0;
}

.tiktok-icon {
    max-width: 36px;
}

.search-container {
    background: var(--topo);
    width: 544px;
    height: 56px;
    max-width: 100%;
    border: 3px solid var(--branco);
    border-radius: 40px;
    padding: 10px 22px 10px 52px;
}

.logo-mtst img {
    max-width: 90px;
}

input#search {
    border: none;
    width: 84%;
    background: var(--topo);
    color: white;
    padding: 4px 0;
    font-size: 20px;
    line-height: 1;
}

button.lupa-busca {
    padding: 0;
    background: var(--topo);
    border: none;
    float: right;
    max-width: 30px;
}

textarea:focus, input:focus{
    outline: none;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

ul.redes-sociais, footer ul.redes-sociais {
    display: flex;
    align-items: center;
}

ul.redes-sociais li {
    margin: 0 15px;
    height: 35px;
    line-height: 35px;
}

.redes-cont {
    display: flex;
    height: 100%;
    vertical-align: middle;
}

/* Menu Principal */
.menu-principal {
    padding: 24px 20px;
}

.menu-principal ul {
    display: flex;
    justify-content: space-between;
}

.menu-principal ul li a {
    color: var(--preto);
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    text-decoration: none;
}

.nav-link {
    padding-bottom: 16px;
}

.nav-link.active, .nav-link:hover {
    background-image: url(../images/borda-menu.png);
    font-weight: 700!important;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 90% 6px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Sub Menu */

.menu-principal .submenu {
    display: none;
    padding: 20px 40px 10px 30px;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 999;
}

.menu-principal .submenu li {
    margin-bottom: 20px;
}

.menu-principal .submenu li a {
    font-weight: 400;
}

.menu-principal .submenu li a:hover {
    font-weight: 700;
}

.menu-principal ul li.over > .submenu, 
.menu-principal ul li:hover > .submenu {
    display: inline-block;
    position: absolute;
}

/* Banner do topo */

.banner-topo {
    margin: 56px auto;
}

/* Notícias */

.noticias {
    padding: 12px 20px 30px;
}

h2.titulo-secao {
    color: var(--preto);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 24px;
}

.ultima-noticia {
    background: var(--branco);
    box-shadow: 0px 4px 4px 2px rgb(0 0 0 / 25%);
    border-radius: 20px;
}

.ultima-noticia .thumb {
    border-radius: 20px 20px 0px 0px;
    height: 344px;
    background-size: cover;
}

.categoria {
    float: right;
    padding: 2px 18px;
    color: #fff;
    background: var(--preto);
    border-radius: 30px;
    font-weight: 400;
    font-size: 20px;
    margin: 28px;
}

.titulo-noticia {
    padding: 17px 34px;
}

.titulo-noticia a {
    text-decoration: none;
}

.titulo-noticia a:hover {
    text-decoration: underline;
}

.titulo-noticia h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 18px;
    color: var(--preto);
}

.ler-mais {
    text-align: right;
    text-decoration: underline;
}

.ler-mais a {
    color: var(--preto);
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
}

.ler-mais a:hover {
    font-weight: 700;
}

.mais-noticias .ultima-noticia .thumb {
    height: 210px;
    background-position: center;
}

.mais-noticias .categoria {
    font-size: 15px;
    margin: 18px 12px;
}

.mais-noticias .titulo-noticia {
    padding: 14px;
}

.mais-noticias .titulo-noticia h3 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 0;
    min-height: 72px;
}

.mais-noticias .ler-mais a,
.ultima-noticia .ler-mais a {
    font-size: 14px;
    line-height: 16px;
}

.ver-tudo {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin: 24px 0;
}

.ver-tudo a {
    color: var(--preto);
}

/* PROGRAMAS */

.programas {
    padding: 40px 20px 0;
}

.embed-iframe {
    height: auto;
    margin-bottom: 20px;
}

/* Vídeos */

.youtube-video iframe {
    max-width: 100%;
    color: var(--preto);
}

.titulo-video {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 10px 0;
    color: var(--preto);
}

.desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--preto);
}

.youtube-video {
    height: 300px;
    background-size: cover!important;
}

ul.videos {
    display: inline-flex;
}

ul.videos li {
    width: 48%;
    margin-bottom: 4px;
}

ul.videos li:first-child {
    margin-right: 4%;
}

/* Vídeo Modal */

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position:relative;
    padding:0px;
}

.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
}

.player-video {
    position: relative;
    left: 40%;
    top: 40%;
}

.player-video-big {
    position: relative;
    top: 43%;
    left: 43%;
}

.youtube-video.ltt {
    height: 146px;
    background-position: center;
}

.titulo-video.ltt {
    margin-top: 0;
    margin-bottom: 0;
}

.titulo-video.ltt h3 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 6px;
}

.desc.ltt {
    font-size: 14px;
    line-height: 17px;
}

.desc.ltt p {
    margin-bottom: 0;
}

.txt-video-r {
    height: 160px;
}

/* Fotos */

.fotos {
    padding: 30px 20px 64px;
}

.foto.foto-menor {
    margin-bottom: 30px;
}

.fotos .ver-tudo {
    margin-top: 0;
}

/* Swiper Carrossel */

.swiper .swiper-button-next:after, .swiper-button-prev:after {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

/* Newsletter */

.newsletter {
    padding: 60px 20px;
    background-color: var(--vermelho-escuro);
    color: var(--branco);
}

.news-desc {
    margin-top: 20px;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    opacity: 0.8;
}

/* Video Modal */

span.YouTubePopUp-Close {
    left: 101%;
}

.vp-flex iframe, .vp-flex video {
    border: none;
}

/* Formulário Newsletter */

.form-newsletter input {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 40px;
    border: none;
    padding: 14px 10px;
    margin-bottom: 0px;
    margin-top: 6px;
    text-align: center;
    font-size: 23px;
    line-height: 23px;
    width: 100%;
    height: 60px;
}

.form-newsletter input[type=submit] {
    font-weight: bold;
    background-color: var(--preto);
    color: var(--branco);
}

/* Footer */

.site-footer {
    padding: 72px 20px 30px;
    background-color: var(--preto);
}

.txt-footer {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: var(--branco);
    opacity: 0.8;
    margin-bottom: 40px;
}

.nav-footer ul {
    display: block;
    justify-content: space-between;
}

.nav-footer ul li {
    margin-bottom: 20px;
}

.nav-footer ul li {
    color: var(--branco);
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-decoration-line: none;
    opacity: 0.8;
    margin-bottom: 40px;
}

.nav-footer ul li a {
    color: var(--branco);
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-decoration-line: underline;
}

.nav-footer ul li:hover {
    opacity: 1;
}

.nav-footer ul li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.swiper-pagination-bullet {
    background-color: var(--preto)!important;
}

/* Breadcrumbs */

section.breadcrumbs {
    padding: 20px;
}

ul.bread {
    display: inline-flex;
}

li.crumb a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--preto);
    opacity: 0.8;
}

li.crumb a:hover {
    text-decoration: underline;
}

li.crumb.active a {
    font-weight: bold;
}

li.separator {
    margin: 0 15px;
    line-height: 1.8;
}

/* Content */

section.content {
    padding: 20px;
}

.content p {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #616161;
}

.content figcaption {
    margin-top: 10px;
    font-size: 18px;
    line-height: 21px;
    color: #616466;
}

.topo-mobile {
    display: none;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 3px;
    position: relative;
    width: 30px;
    border-radius: 4px;
} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    border-radius: 4px;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.menu-principal.menu-mobile {
    display: none;
}

.mobile-view {
    display: none!important;
}

.desktop-view {
    display: block!important;
}

figure {
    max-width: 100%;
}

.banner-principal img {
    width: 100%;
    height: auto;
}

.banners {
    padding: 0;
}


.banner-medium {
    margin: 60px auto 20px;
}


/* Responsivo */

@media (max-width: 1199px) {
    ul.videos li:first-child {
        margin-right: 2%;
    }
    ul.videos li {
        width: 49%;
        margin-bottom: 10px;
    }
    .titulo-video.ltt h3 {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 4px;
    }
    .desc.ltt {
        font-size: 12px;
        line-height: 15px;
        height: max-content;
    }
    .topo-desktop {
        display: none;
    }
    .topo-mobile {
        display: block;
    }
    .menu-principal {
        display: none;
    }
    .logo-mtst {
        max-width: 52px;
    }
    .topo-mobile .col-logo {
        padding-left: 0;
    }
    .topo-mobile .search-container {
        display: none;
    }
    .topo-mobile .busca {
        padding: 0;
    }
    .topo-mobile .col-7 {
        display: table;
        padding: 0;
    }
    .topo-mobile .busca {
        display: table-cell;
        vertical-align: middle;
    }
    .search-container {
        width: 100%;
        height: 40px;
        padding: 5px 10px;
    }
    input#search {
        width: 100%;
        padding: 0;
        font-size: 14px;
    }
    .hamb {
        cursor: pointer;
        float: right;
        padding: 0;
        margin: 0 auto;
        display: table-cell;
        vertical-align: middle;
    }
    .topo-mobile .col-hamb {
        padding: 0;
        display: table;
    }
    .icon-mobile {
        display: table-cell!important;
        vertical-align: middle!important;
        padding-right: 10px!important;
    }
    .hamb-line::after {
        margin-top: -3px;
    }
    .hamb-line::before {
        margin-top: 3px;
    }
    button.lupa-busca img {
        max-width: 30px;
    }
    .side-menu:checked ~ .hamb .hamb-line::before,
    .side-menu:checked ~ .hamb .hamb-line::after {
        margin-top: 0;
    }
    .side-menu:checked ~ .topo-mobile .menu-principal.menu-mobile {
        display: block;
    }
    #menu-mobile nav ul {
        display: block;
        float: right;
    }
    .menu-principal ul li a {
        font-size: 22px;
        font-weight: 500;
        text-align: right;
        cursor: pointer;
    }
    .nav-link.active, .nav-link:hover {
        background-image: none;
        font-weight: 700;
    }
    .menu-principal .submenu li {
        margin-bottom: 0;
        text-align: right;
    }
    .menu-principal .submenu li a {
        line-height: 1.3;
    }
    #menu-mobile.menu-principal .submenu {
        display: none;
        padding: 0;
        background-color: #fff;
        filter: none;
        z-index: 999;
        position: relative;
        margin-bottom: 10px;
    }
    #menu-mobile.menu-principal {
        position: absolute;
        background: #fff;
        width: 75%;
        margin-left: 25%;
        z-index: 999;
    }
    .menu-principal .submenu li a {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
    .ultima-noticia {
        margin-bottom: 30px;
    }
    .ultima-noticia .thumb {
        height: 258px;
    }
    .titulo-noticia {
        padding: 14px 24px;
    }
}

@media (max-width:768px) {
    .mobile-view {
        display: block!important;
    }
    .desktop-view {
        display: none!important;
    }
    .topo-desktop {
        display: none;
    }
    .topo-mobile {
        display: block;
    }
    .menu-principal {
        display: none;
    }
    .logo-mtst {
        max-width: 52px;
    }
    .topo-mobile .col-logo {
        padding-left: 0;
    }
    .topo-mobile .search-container {
        display: none;
    }
    .topo-mobile .busca {
        padding: 0;
    }
    .topo-mobile .col-7 {
        display: table;
        padding: 0;
    }
    .topo-mobile .busca {
        display: table-cell;
        vertical-align: middle;
    }
    .search-container {
        width: 100%;
        height: 40px;
        padding: 5px 10px;
    }
    input#search {
        width: 100%;
        padding: 0;
        font-size: 14px;
    }
    .hamb {
        cursor: pointer;
        float: right;
        padding: 0;
        margin: 0 auto;
        display: table-cell;
        vertical-align: middle;
    }
    .topo-mobile .col-hamb {
        padding: 0;
        display: table;
    }
    .icon-mobile {
        display: table-cell;
        vertical-align: middle;
        padding-right: 10px;
    }
    .hamb-line::after {
        margin-top: -3px;
    }
    .hamb-line::before {
        margin-top: 3px;
    }
    button.lupa-busca img {
        max-width: 30px;
    }
    .side-menu:checked ~ .hamb .hamb-line::before,
    .side-menu:checked ~ .hamb .hamb-line::after {
        margin-top: 0;
    }
    section {
        padding-left: 0;
        padding-right: 0;
    }
    .side-menu:checked ~ .topo-mobile .menu-principal.menu-mobile {
        display: block;
    }
    #menu-mobile nav ul {
        display: block;
        float: right;
    }
    .menu-principal ul li a {
        font-size: 22px;
        font-weight: 500;
        text-align: right;
    }
    .nav-link.active, .nav-link:hover {
        background-image: none;
        font-weight: 700;
    }
    .menu-principal .submenu li {
        margin-bottom: 0;
        text-align: right;
    }
    .menu-principal .submenu li a {
        line-height: 1.3;
    }
    #menu-mobile.menu-principal .submenu {
        display: none;
        padding: 0;
        background-color: #fff;
        filter: none;
        z-index: 999;
        position: relative;
        margin-bottom: 10px;
    }
    #menu-mobile.menu-principal {
        position: absolute;
        background: #fff;
        width: 75%;
        margin-left: 25%;
        z-index: 999;
    }
    .menu-principal .submenu li a {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .banner-topo {
        margin-bottom: 10px;
    }
    .col-4, .col-8 {
        padding-left: 0;
        padding-right: 0;
    }
    .col-8 img {
        max-width: 93%;
        margin: 0 auto;
    }
    h2.titulo-secao {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 14px;
    }
    .titulo-noticia h3 {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .categoria {
        border-radius: 30px;
        font-size: 16px;
        margin: 14px;
    }
    .ultima-noticia .thumb {
        height: 260px;
    }
    .ultima-noticia {
        margin-bottom: 30px;
    }
    .noticias {
        padding: 20px 14px 30px;
    }
    section.mais-noticias {
        padding: 0 14px;
    }
    .mais-noticias .ultima-noticia .thumb {
        height: 200px;
    }
    .ver-tudo {
        font-size: 16px;
        line-height: 20px;
        margin: 10px 0;
    }
    .player-video-big {
        position: absolute;
        top: 28%;
        left: 42%;
        width: 16%;
    }
    .titulo-secao h2 {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 14px;
    }
    .titulo-video h3 {
        font-size: 20px;
        line-height: 24px;
    }
    .desc {
        font-size: 14px;
        line-height: 18px;
    }
    .foto.foto-maior {
        margin-bottom: 10px;
    }
    .foto.foto-menor {
        margin-bottom: 10px;
    }
    .news-desc {
        font-size: 18px;
        line-height: 23px;
    }
    
    .form-newsletter input {
        margin-top: 4px;
        font-size: 18px;
        line-height: 18px;
        width: 100%;
        height: 44px;
    }
    .txt-footer {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .newsletter { 
        padding: 20px 16px;
    }
    .site-footer {
        padding: 30px 16px 30px;
    }
    section#videos {
        padding: 0 15px;
    }
    .titulo-noticia {
        padding: 14px;
    }
    .fotos {
        padding: 30px 14px 64px;
    }
    .videos {
        padding: 20px 14px 0;
    }
    .youtube-video-mobile {
        background-size: cover;
        background-position: center;
        height: 180px;
        margin-bottom: 14px;
    }
    .fotos .ver-tudo {
        margin-top: 30px;
    }
    .fotos-mobile .swiper-wrapper {
        padding-bottom: 40px;
    }
    .embed-iframe {
        margin-bottom: 10px;
    }
    .desc.ltt {
        font-size: 14px;
        line-height: 18px;
        height: max-content;
    }
    .titulo-video.ltt h3 {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 8px;
    }
    .programas {
        padding: 40px 14px 0;
    }
    li.crumb a {
        font-size: 14px;
        line-height: 18px;
    }
    .content .titulo-pagina h1 {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 26px;
    }
    .single .content h1 img {
        display: none;
    }
    .content p {
        font-size: 18px;
        line-height: 1.5;
    }
    .content .wpp-post-title {
        width: 62%;
    }
    .widget.popular-posts h2 {
        font-size: 26px;
        line-height: 32px;
    }
    .author-container h3 {
        font-size: 24px;
    }
    span.fn {
        font-size: 22px;
    }
    .content h3 {
        font-size: 22px;
        line-height: 1.5;
    }
    .content h3 strong {
        font-size: 34px;
        line-height: 1;
        margin-right: 10px;
    }
    .page-template-default section .banner {
        height: 280px;
    }
    .page-template-default .titulo-pagina h1 {
        margin-bottom: 30px;
    }
    .titulo-pagina h1 img {
        height: 26px;
    }
}
