@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Cores */
:root {
    --topo: #342F2F;
    --branco: #fff;
    --preto: #000;
    --cinza: #616161;
    --vermelho-escuro: #D70000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: var(--branco);
}

a, a:hover {
    color: var(--preto);
    text-decoration: underline;
}

a:hover {
    font-weight: 600;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: var(--preto);
    opacity: 0.8;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

.titulo-pagina h1 img {
    margin-right: 20px;
    margin-top: -4px;
}

/* Header */
.topo {
    background: var(--topo);
    padding: 10px 20px;
}

.busca {
    padding: 20px 0;
}

.search-container {
    background: var(--topo);
    width: 544px;
    height: 64px;
    max-width: 100%;
    border: 3px solid var(--branco);
    border-radius: 40px;
    padding: 10px 22px 10px 52px;
}

input#search {
    border: none;
    width: 84%;
    background: var(--topo);
    color: white;
    padding: 4px 0;
    font-size: 25px;
    line-height: 1;
}

button.lupa-busca {
    padding: 0;
    background: var(--topo);
    border: none;
    float: right;
}

textarea:focus, input:focus{
    outline: none;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

ul.redes-sociais {
    display: flex;
    align-items: center;
}

ul.redes-sociais li {
    margin: 0 15px;
    height: 35px;
    line-height: 35px;
}

.redes-cont {
    display: flex;
    height: 100%;
    vertical-align: middle;
}

/* Menu Principal */
.menu-principal {
    padding: 24px 20px;
}

.menu-principal ul {
    display: flex;
    justify-content: space-between;
}

.menu-principal ul li a {
    color: var(--preto);
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    text-decoration: none;
}

.nav-link {
    padding-bottom: 16px;
}

.nav-link.active, .nav-link:hover {
    background-image: url(../images/borda-menu.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

/* Banner do topo */

.banner-topo {
    margin-bottom: 56px;
}

/* Notícias */

.noticias {
    padding: 12px 20px 30px;
}

h2.titulo-secao {
    color: var(--preto);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 24px;
}

.ultima-noticia {
    background: var(--branco);
    box-shadow: 0px 4px 4px 2px rgb(0 0 0 / 25%);
    border-radius: 20px;
}

.ultima-noticia .thumb {
    border-radius: 20px 20px 0px 0px;
    height: 370px;
    background-size: cover;
}

.categoria {
    float: right;
    padding: 2px 18px;
    color: #fff;
    background: var(--preto);
    border-radius: 30px;
    font-weight: 400;
    font-size: 20px;
    margin: 28px;
}

.titulo-noticia {
    padding: 17px 34px;
}

.titulo-noticia a {
    text-decoration: none;
}

.titulo-noticia a:hover {
    text-decoration: underline;
}

.titulo-noticia h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 18px;
    color: var(--preto);
}

.ler-mais {
    text-align: right;
    text-decoration: underline;
}

.ler-mais a {
    color: var(--preto);
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
}

.mais-noticias .ultima-noticia .thumb {
    height: 210px;
    background-position: center;
}

.mais-noticias .categoria {
    font-size: 15px;
    margin: 18px 12px;
}

.mais-noticias .titulo-noticia {
    padding: 12px;
}

.mais-noticias .titulo-noticia h3 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 0;
    min-height: 72px;
}

.mais-noticias .ler-mais a {
    font-size: 14px;
    line-height: 16px;
}

.ver-tudo {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin: 24px 0;
}

.ver-tudo a {
    color: var(--preto);
}

/* PROGRAMAS */

.programas {
    padding: 40px 20px 0;
}

.embed-iframe {
    height: auto;
    margin-bottom: 20px;
}

/* Vídeos */

.youtube-video iframe {
    max-width: 100%;
    color: var(--preto);
}

.titulo-video {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 10px 0;
    color: var(--preto);
}

.desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--preto);
}

/* Vídeo Modal */

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position:relative;
    padding:0px;
}

.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
}

.player-video {
    position: relative;
    left: 40%;
    top: -90px;
}

.player-video-big {
    position: absolute;
    top: 24%;
    left: 43%;
}

.youtube-video.ltt {
    margin-bottom: -20px;
}

.titulo-video.ltt {
    margin-top: 0;
    margin-bottom: 0;
}

.titulo-video.ltt h3 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 4px;
}

.desc.ltt {
    font-size: 14px;
    line-height: 17px;
}

.desc.ltt p {
    margin-bottom: 0;
}

.txt-video-r {
    height: 160px;
}

/* Fotos */

.fotos {
    padding: 30px 20px 64px;
}

.foto.foto-menor {
    margin-bottom: 30px;
}

.fotos .ver-tudo {
    margin-top: 0;
}

/* Swiper Carrossel */

.swiper .swiper-button-next:after, .swiper-button-prev:after {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

/* Newsletter */

.newsletter {
    padding: 60px 20px;
    background-color: var(--vermelho-escuro);
    color: var(--branco);
}

.news-desc {
    margin-top: 20px;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    opacity: 0.8;
}

/* Video Modal */

span.YouTubePopUp-Close {
    left: 101%;
}

.vp-flex iframe, .vp-flex video {
    border: none;
}

/* Formulário Newsletter */

.form-newsletter input {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 40px;
    border: none;
    padding: 14px 10px;
    margin-bottom: 0px;
    margin-top: 6px;
    text-align: center;
    font-size: 23px;
    line-height: 23px;
    width: 100%;
    height: 60px;
}

.form-newsletter input[type=submit] {
    font-weight: bold;
    background-color: var(--preto);
    color: var(--branco);
}

/* Footer */

.site-footer {
    padding: 72px 20px 86px;
    background-color: var(--preto);
}

.txt-footer {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: var(--branco);
    opacity: 0.8;
    margin-bottom: 40px;
}

.nav-footer ul {
    display: flex;
    justify-content: space-between;
}

.nav-footer ul li a {
    color: var(--branco);
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration-line: underline;
    opacity: 0.8;
}

.nav-footer ul li a:hover {
    opacity: 1;
}

/* Breadcrumbs */

section.breadcrumbs {
    padding: 20px;
}

ul.bread {
    display: inline-flex;
}

li.crumb a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--preto);
    opacity: 0.8;
}

li.crumb a:hover {
    text-decoration: underline;
}

li.crumb.active a {
    font-weight: bold;
}

li.separator {
    margin: 0 15px;
    line-height: 1.8;
}

/* Content */

section.content {
    padding: 20px;
}

.content p {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #616161;
}

.content figcaption {
    margin-top: 10px;
    font-size: 18px;
    line-height: 21px;
    color: #616466;
}

